:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color1: #96A215;
    --color2: #4E531C;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--white-font);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "ban ban ban ban ban ban ban ban ban ban ban ban"
        "int int int int int int int int ini ini ini ini";
}

.banner {
    background-color: var(--color2);
    padding: 1em;
    grid-area: ban
}

.banner-title {
    font-size: 2.25em
}

.banner-subtitle {
    font-size: 2em;
    padding-top: 0.125em
}


.intro-image {
    width: 100%;
    grid-area: ini; /* Assign grid area */
    padding-top: 1rem;
}

.intro-text {
    color: #000000;
    display: flex;
    flex-direction: column;
    grid-area: int; /* Assign grid area */
}

.intro-title {
    font-size: 2em;
    color: #4E531C;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.intro-blurb {
    /**/
}

.intro-reference {
    font-size: 0.75em;
    padding-top: 1rem;
}