:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color1: #96A215;
    --color2: #4E531C;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Inter;
    color: var(--white-font);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
        "ban ban ban ban"
        "ini ini ini ini"
        "int int int int"
        "pc1 pc1 pc1 pc1"
        "pc2 pc2 pc2 pc2"
        "pc3 pc3 pc3 pc3"
        "pc4 pc4 pc4 pc4"
        "cot cot cot cot"
        "coi coi coi coi"
        "bbn bbn bbn bbn";
}

@media (min-width: 50em) {
    .main-container {
        grid-template-columns: repeat(8, auto);
        grid-template:
        "ban ban ban ban ban ban ban ban"
        "int int int int ini ini ini ini"
        "pc1 pc1 pc1 pc1 pc2 pc2 pc2 pc2"
        "pc3 pc3 pc3 pc3 pc4 pc4 pc4 pc4"
        "coi coi coi coi cot cot cot cot"
        "bbn bbn bbn bbn bbn bbn bbn bbn";
    }

    .intro-image {
        padding-bottom: 1rem;
    }

    .intro-reference {
        font-size: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .project-card-image {
        max-height: 20rem;
    }

}

@media (min-width: 75em) {
    .main-container {
        grid-template-columns: repeat(12, auto);
        grid-template-areas:
        "ban ban ban ban ban ban ban ban ban ban ban ban"
        "int int int int int int int int ini ini ini ini"
        "pc1 pc1 pc1 pc2 pc2 pc2 pc3 pc3 pc3 pc4 pc4 pc4"
        "coi coi coi coi coi cot cot cot cot cot cot cot"
        "bbn bbn bbn bbn bbn bbn bbn bbn bbn bbn bbn bbn";
    }

    .intro-image {
        padding-bottom: 2rem;
    }

    .project-card-image {
        min-height: 12rem;
    }
}

.banner {
    background-color: var(--color2);
    padding: 1em;
    grid-area: ban
}

.bottom-banner {
    grid-area: bbn;
    padding-top: 2rem;
}

.bottom-banner-colour {
    background-color: #4E531C;
    width: 100%;
    height: 8rem;
}

.banner-title {
    font-size: 2.25em
}

.banner-subtitle {
    font-size: 2em;
    padding-top: 0.125em
}


.intro-image {
    width: 100%;
    grid-area: ini; /* Assign grid area */
    padding-top: 1rem;
}

.conclusion-image {
    width: 100%;
    grid-area: coi;
    padding-top: 2rem;
}

.intro-text {
    color: #000000;
    display: flex;
    flex-direction: column;
    grid-area: int; /* Assign grid area */
}

.conclusion-text {
    color: #000000;
    display: flex;
    flex-direction: column;
    grid-area: cot;
    padding-top: 2rem;
}

.intro-title {
    font-size: 2em;
    color: #4E531C;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.intro-reference {
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.conclusion-reference {
    font-size: 0.75rem;
    padding-top: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
}

.project-card-image {
    width: 100%;
}

.project-card-title {
    background-color: #4E531C;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    text-align: center;
}

.project-card-reference {
    background-color: #4E531C;
    color: #000000;
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.project-card-text {
    background-color: #96A215;
    color: #FFFFFF;
    padding: 0.5rem;
    min-height: 20rem;
}

#project-card-1 {
    grid-area: pc1;
}

#project-card-2 {
    grid-area: pc2;
}

#project-card-3 {
    grid-area: pc3;
}

#project-card-4 {
    grid-area: pc4;
}